@font-face {
    font-family: "メイリオ";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "Meiryo UI";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "meiryo";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "Meiryo";
    src: local("Noto Sans CJK JP");
}

@font-face {
    font-family: "M PLUS Rounded 1c";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "Rounded Mplus 1c";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "MS PGothic";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "ＭＳ Ｐゴシック";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "ＭＳ ゴシック";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "ＭＳ 明朝";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "游ゴシック";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "Yu Gothic Medium";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "游ゴシック Medium";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "Segoe UI";
    src: local("Noto Sans CJK JP Regular");
}

@font-face {
    font-family: "MS PMincho";
    src: local("Noto Sans CJK JP Regular");
}